#defaultCanvas0 
{
  display: block;
  left:40%;
  width:100px;
  margin-left:-200px;
  padding: 10px; 
  background-color: rgb(215, 241, 237);
  position: fixed;
}

.site-title {
  margin: 0;
  padding: 0 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  background-color: rgb(191, 243, 235);
  color: rgb(18, 17, 17);
}

body {
  background-color: rgb(179, 227, 218);
}

.menu {
  margin: 0 0 0 10px;
  width: 200px;
  height: 400px;
  padding: 10;
  background-color: rgb(215, 241, 237); 
  
}

.menuitem {
  list-style-type: none;
  display: block; 
  position: relative;
}