#defaultCanvas0 
{
  float:right;
  padding: 10px; 
  background-color: rgb(215, 241, 237);
}

.site-title {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
  background-color: rgb(191, 243, 235);
  color: rgb(105, 105, 105);
}

body {
  background-color: rgb(179, 227, 218);
}

.menu {
  margin: 0 0 0 10px;
  margin-right: 0px;
  margin-top: 20px;
  width: 200px;
  height: 400px;
  background-color: rgb(215, 241, 237); 
  
}

.menuitem {
  list-style-type: none;
  display: block; 
  position: relative;
  font-size: 30px;
  font-weight: 100;
  margin-top:45px;
  text-align: center;
  margin-left:-50px
}

.first {
  padding-top:60px;
}

a {
  color: rgb(105, 105, 105);
  text-decoration: none;
}