#defaultCanvas0 
{
  padding: 10px; 
  background-color: rgb(215, 241, 237);
  position: fixed;
  
  
}

body {
  background-color: rgb(179, 227, 218);
}

.menu {
  margin: 0 0 0 20px;
  padding: 0;
}